<h1>Restaurants list</h1>


<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> |
      <%= link_to "delete", restaurant_path(restaurant), data: {turbo_method: "delete", turbo_confirm: "Delete #{restaurant.name}?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new restaurant",  %>
